<?xml version="1.0" encoding="utf-8"?>
<plugin
        xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com-heytz-hfwrapper"
        version="0.0.1">

    <name>hfwrapper</name>
    <description>wrapper of the HF</description>
    <license>MIT</license>
    <keywords></keywords>

    <repo>https://github.com/cp612sh/com-heytz-hfwrapper.git</repo>
    <issue></issue>

    <js-module src="www/hfwrapper.js" name="hfwrapper">
        <clobbers target="hfwrapper"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="HFWrapper">
                <param name="android-package" value="com.heytz.cordova.HFWrapper"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
        </config-file>

        <source-file src="src/android/HFWrapper.java" target-dir="src/com/heytz/cordova"/>
        <source-file src="src/android/AppInfo.java" target-dir="src/com/heytz/cordova"/>
        <source-file src="src/android/ModuleInfo.java" target-dir="src/com/heytz/cordova"/>
        <source-file src="src/android/UserInfo.java" target-dir="src/com/heytz/cordova"/>

        <source-file src="libs/android-support-v4.jar" target-dir="libs"/>
        <source-file src="libs/androidasync-2.1.6.jar" target-dir="libs"/>
        <source-file src="libs/hiflying-iots-android-smartlink3.7.0.jar" target-dir="libs"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="smartlink">
                <param name="ios-package" value="smartlink"/>
            </feature>
        </config-file>
        <source-file src="SmartLinkStaticLIb/HFSmartLink.h"/>
        <source-file src="SmartLinkStaticLIb/HFSmartLinkDeviceInfo.h"/>
        <source-file src="src/ios/smartlink.m"/>
        <source-file framework="true" src="libSmartLinkStaticLib.a"/>
        <framework src="libSmartLinkStaticLib.a"/>
    </platform>
</plugin>
